asgiref==3.7.2
certifi==2022.6.15
distlib==0.3.4
Django==4.2.2
django-cors-headers==4.2.0
djangorestframework==3.14.0
filelock==3.7.1
pipenv==2022.6.7
platformdirs==2.5.2
pytz==2023.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
virtualenv==20.15.1
virtualenv-clone==0.5.7
